body {
    font-family: Arial;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul li a {
    color: white;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}
